<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} -- A Demo Blog</title>
		<link rel="stylesheet" type="text/css" href="/static/commonStyles.css">
	</head>
	<body>
		<header class="mainHeader">
			<a href="/">
				<div class="blogTitle">A Demo Blog</div>
			</a>
			<a href="/">
				<div class="headerButtons">Home</div>
			</a>
			<div class="rightHolder">
				{% if userName %}
					<div class="headerButtons">Hello {{userName}}!!</div>
				{% else %}
					<a href="/signup">
						<div class="headerButtons">Sign Up</div>
					</a>
					<div class="headerButtons">Sign In</div>
					
				{% endif %}

			</div>
		</header>
		<div class="mainContainer">
			{% block content %}{% endblock %}
			{% block homeContent %}{% endblock %}
		</div>
	</body>
</html>